@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(66, 62, 62, 0.5), rgba(48, 41, 41, 0.5)), url(./img/banner.png);
    background-position: center;
    background-size: cover;
    /* border: 1px solid red; */
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: auto;
    padding: 3vh 4px;
    /* border: 1px solid yellow; */
}

.navbar-header a img {
    width: 60px;
}

.navbar {
    padding: 0;
    cursor: context-menu;
}

.navbar li {
    display: inline-block;
    padding: 0 20px;
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: white;
}

.about-header {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translate(50%, 50%);
    color: white;
    /* border: 1px solid sienna; */
}

.about-header h1 {
    text-align: center;
    font-size: 75px;
}

.about-header p {
    text-align: center;
    margin: 20px 0 50px;
}

.about-header a {
    padding: 15px 25px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
}

.course {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.course-box {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;
}

.course-sec {
    margin-top: 25px;
    display: flex;
    padding: 20px 15px;
    flex-direction: column;
    width: 25%;
    text-align: center;
    border-radius: 15px;
    background-color: #fff3f3;
    /* border: 1px solid red; */
}

.course-sec h3 {
    padding-bottom: 7px;
}

.campus {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campus-box {
    padding-top: 20px;
    margin: auto;
    width: 75%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 13%;
    margin: auto;
    /* border: 1px solid red; */
}

.campus-sec {
    position: relative;
    /* border: 1px solid blue; */
}

.campus-sec:hover img {
    background: rgba(255, 243, 243, 0.5);
    opacity: 0.7;
}

.campus-title {
    display: none;
    position: absolute;
    left: 50%;
    top: 45%;
}

.campus-title-insider {
    position: relative;
    left: -50%;
}

.campus-title h3 {
    opacity: 1;
}

.campus-sec:hover .campus-title {
    display: block;
}

.campus-img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.facilities {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    /* border: 1px solid purple; */

}

.facilities-container {
    display: flex;
    width: 75%;
    margin: auto;
    grid-template-columns: auto auto auto;
    column-gap: 13%;
    margin-top: 25px;
    /* border: 1px solid red; */
}

.facilities-img {
    width: 100%;
    /* height: 25%; */
    border-radius: 15px;
}

.facilities-title {
    text-align: left;
    margin-top: 5px;
}

.facilities-title p {
    margin-top: 15px;
}

.student {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.student-container {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    width: 80%;
    /* border: 1px solid red; */
}

.student-content {
    background-color: #fff3f3;
    padding: 25px;
    width: 40%;
    border-radius: 15px;
    /* border: 1px solid green; */
}

.student-desc {
    display: flex;
    justify-content: space-between;
}

.student-content p {
    width: 85%;
    /* border: 1px solid red; */
}

.student-content img {
    width: 50px;
    height: 50px;
    border-radius: 150px;
}

.student-star {
    margin-top: 15px;
    width: 75%;
    margin-left: 14.5%;
    /* border: 1px solid red; */
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/banner2.jpg);
    background-size: cover;
    width: 75%;
    padding: 100px 0;
    border-radius: 15px;
}

.contact h1 {
    text-align: center;
    color: white;
}

.contact a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 25px;
    margin-top: 35px;
}

.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 3%;
}

.aboutus h4 {
    font-size: 30px;
}

.aboutus p {
    text-align: center;
    margin-top: 1%;
}

.aboutus-lists {
    margin-top: 25px;
    padding: 0;
    width: 25vh;
}

.aboutus-lists ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid green; */
}

.aboutus-title {
    margin-top: 25px;
}

.aboutus-title img {
    width: 13px;
}

@media screen and (max-width:768px) {

    .course-description,
    .campus-description,
    .facilities-description,
    .facilities-description,
    .student-description {
        margin: auto;
        width: 75%;
    }

    .navbar {
        display: none;
    }

    .about-header {
        font-size: 15px;
    }

    .about-header h1 {
        font-size: 45px;
    }

    .course-sec {
        width: 75%;
    }

    .course-box {
        flex-direction: column;
        align-items: center;
    }

    .campus-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .campus-sec {
        margin-top: 10px;
    }

    .facilities-container {
        flex-direction: column;
    }

    .facilities-content {
        margin-top: 35px;
    }

    .facilities-title p {
        text-align: left;
    }

    .student h1{
        width: 80%;
    }

    .student h1,
    p {
        text-align: center;
    }

    .student-container {
        flex-direction: column;
        align-items: center;
        /* width: 100%; */
    }

    .student-content {
        width: 80%;
        margin-top: 25px;
    }

    .student-desc p {
        width: 70%;
        font-size: 13px;
        text-align: left;
    }

    .student-star {
        margin-left: 29%;
    }

    .contact h1 {
        font-size: 22px;
        width: 75%;
    }

    .aboutus h4 {
        font-size: 25px
    }

    .aboutus p {
        width: 75%;
    }

    .aboutus-title p {
        width: 100%;
    }

}


@media screen and (min-width:769px) {
    .navbar-menu {
        display: none;
    }
}