@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(66, 62, 62, 0.5), rgba(48, 41, 41, 0.5)), url(./img/banner.png);
    background-position: center;
    background-size: cover;
    /* border: 1px solid red; */
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: auto;
    padding: 3vh 4px;
    /* border: 1px solid yellow; */
}

.navbar-header a img {
    width: 60px;
}

.navbar {
    padding: 0;
    cursor: context-menu;
}

.navbar li {
    display: inline-block;
    padding: 0 20px;
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: white;
}

.about-header {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translate(50%, 50%);
    color: white;
    /* border: 1px solid sienna; */
}

.about-header h1 {
    font-size: 75px;
}

.about-header p {
    text-align: center;
    margin: 20px 0 50px;
}

.about-header a{
    padding: 15px 25px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
}

.course{
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.course-box{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 25px;
    margin: auto;
    /* border: 1px solid red; */
}

.course-sec{
    display: flex;
    padding: 20px 15px;
    flex-direction: column;
    /* align-items: center; */
    width: 25%;
    /* height: 200px; */
    text-align: center;
    border-radius: 15px;
    background-color: #fff3f3;
    /* border: 1px solid red; */
}

.course-sec h3{
    padding-bottom: 7px;
}

/* .campus{
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.campus-box{
    width: 80%;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.campus-sec{
    border: 1px solid red;
    margin: auto;
}

.campus-img{
    width: 350px;
    height: 200px;
}

.campus-hover{
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.campus-hover:hover{
    background-color: aqua;
}

.campus-hover h3{
    width: 100%;
    font-size: 10px;
    transform: translateX(-50%);
    position: absolute;
    left: -50%;
    bottom: 0;
    opacity: 0;
}

.campus-hover:hover h3{
    bottom: 35%;
    opacity: 1;
} */